.hamburger {
  height: 4px;
  border-radius: 2px;
  width: 25px;
  background-color: black;
  display: inline-block;
  position: relative;
  transition: background 0.2s ease-in-out;
}

.hamburger::before {
  content: "";
  height: 4px;
  border-radius: 2px;
  width: 25px;
  background-color: black;
  bottom: 8px;
  position: absolute;
  transition: transform 0.2s ease-in-out;
}

.hamburger::after {
  content: "";
  position: absolute;
  top: 8px;
  height: 4px;
  border-radius: 2px;
  width: 25px;
  transition: transform 0.2s ease-in-out;
  background-color: black;
}

.menu-items {
  transition: top 0.2s ease-in-out;
  text-align: center;
  width: 100%;
  left: 0;
  right: 0;
}

#cb:checked ~ label > .hamburger {
  background: transparent;
}

#cb:checked ~ label > .hamburger::before {
  bottom: 0;
  transform: rotate(45deg);
}

#cb:checked ~ label > .hamburger::after {
  top: 0;
  transform: rotate(-45deg);
}

#cb:checked ~ .menu-items {
  top: 100px;
}

.pos {
  background-position: 10% 50%;
}

.card {
  transition: background 0.2s ease-in-out;
}

.card:hover > h4 {
  color: white;
}

.card:hover > img {
  filter: invert(1);
}

.image {
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}

.services {
  background-image: linear-gradient(
    0deg,
    rgba(17, 17, 17, 0.527),
    rgba(0, 0, 0, 0.527)
  );
}

.fa-envelope,
.fa-phone,
.fa-location-dot {
  color: rgb(230, 230, 230);
  font-size: 20px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

  h1::selection,
  p::selection,
  a::selection,
  li::selection,
  h2::selection,
  h3::selection,
  h4::selection,
  label::selection,
  button::selection,
  img::selection {
    background-color: rgba(255, 23, 39, 0.8);
    color: white;
  }
}

.primary-btn {
  @apply py-2 text-white font-bold bg-cred hover:bg-transparent hover:ring-2 hover:ring-cred hover:text-black;
}

.h3_style {
  @apply text-center sm:text-left font-bold text-2xl sm:text-4xl lg:text-5xl mb-4 md:mb-6;
}

.inputfields {
  @apply border-2 border-gray-700 rounded-md py-1 px-2 bg-transparent focus:outline-0 w-full;
}
